.navbar-expand-lg{
	
	height:100px;
	min-height: 50px;
}

.nav-item{
border: 1px solid;


}	

.navbar-collapse{
	width: 100%;
}

.navbar-nav {
    display:table;
    width:100%;
    margin: 0;
}

.navbar-nav > li {
    float:none;
    display:table-cell;
    text-align:center;
}
